# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 269a736f9a94bcfd2ad072be6208a9f2bf37f7944c7b20312a8a2a6c3c0b82c9d95103a5a7686a41de454a6925316502638e4fa415dfd09343a510d6480837d8

test:
  secret_key_base: 4373cf2898491547bd97555333443a5c077320af87e92b4dc860710acd2df1f0f1696fda32c357b94d873173b348504b14d3d06c9c1a369f4c2eca9bb0967751

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
